@page
@model LexiBalance.Pages.Ventas.CreateModel

@{
    ViewData["Title"] = "Insertar";
}

<h1>Insertar venta</h1>

<hr />

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                    <label asp-for="Venta.IDProducto" class="control-label"></label>
                    <input asp-for="Venta.IDProducto" class="form-control" />
                    <span asp-validation-for="Venta.IDProducto" class="text-danger"></span>
                </div>
            <@*div class="form-group">
                <label asp-for="Venta.IDProducto" class="control-label"></label>
                <select asp-for="Venta.IDProducto" class="form-control">
                    @foreach (var item in )
                    {
                        <option value="@item">@item</option>
                    }
                </select>
                <span asp-validation-for="Venta.IDProducto" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="Venta.IDCliente" class="control-label"></label>
                <input asp-for="Venta.IDCliente" class="form-control" />
                <span asp-validation-for="Venta.IDCliente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Venta.IDVenta" class="control-label"></label>
                <input asp-for="Venta.IDVenta" class="form-control" />
                <span asp-validation-for="Venta.IDVenta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Venta.Fecha" class="control-label"></label>
                <input asp-for="Venta.Fecha" class="form-control" />
                <span asp-validation-for="Venta.Fecha" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Insertar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Volver a ventas</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
