@page
@model IndexModel
@{
    ViewData["Title"] = "Inicio";
}
<div>
    <img src="~/img/logotipo.png" />
    <br />
    <img src="~/img/mejor.png" />
    <p>@LexiBalance.Pages.IndexModel.mejorTrabajador</p>
    <br />
    <img src="~/img/ventas.png" />
    @for (int i = 0; i < LexiBalance.Pages.IndexModel.producto.Count; i++)
    {
        <p>
            @LexiBalance.Pages.IndexModel.producto[i]
            x
            @LexiBalance.Pages.IndexModel.cantidadProducto[i] unidad/es
        </p>
    }
</div>
