@page
@model PrivacyModel
@{
    ViewData["Title"] = "LexiBalance";
}

<h4>LexiBalance es mi proyecto para Desarrollo de Aplicaciones Multiplataforma. 
    El último proyecto del ciclo.</h4>
<p></p>
<h6>
    El nombre del proyecto proviene de la palabra "λέξη" que en Griego significa "Palabra".
</h6>
<hr />
<p>El proyecto es un mini-ERP, consiste en una página web para gestionar los productos, ventas, trabajadores y 
    clientes de una tienda de informática.</p>
