@page
@model PrivacyModel
@{
    ViewData["Title"] = "LexiBalance";
}

<h4>LexiBalance - Desarrollo de Aplicaciones Multiplataforma.</h4>
<br />
<h6>
    El nombre del proyecto proviene de la palabra "λέξη" que en Griego significa "Palabra".
</h6>
<hr />
<p>El proyecto es un mini-ERP, consiste en una página web para gestionar los productos, ventas, trabajadores y 
    clientes de una tienda de informática.</p>
<p>A lo largo de estas cinco semanas he creado la página web a través de Razor Pages con el Modelo Vista Controlador.
    La base de datos que utilizo es SQLite, por su tamaño compacto y fácil portabilidad. El diseño ha sido modificado del
    original, poniendo el menú al lado izquierdo para mayor comodidad.</p>
