@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Aceso denegado";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">No tienes el acceso permitido a esta página.</p>
</header>
