@page
@model LexiBalance.Pages.Personal.EditModel

@{
    ViewData["Title"] = "Editar";
}
@if (User.Identity.Name.Equals("Gerente"))
{
    <h1>Editar trabajador #@Html.DisplayFor(model => model.Trabajador.ID)</h1>

    <hr />

    <div class="row">
        <div class="col-md-4">
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Trabajador.ID" />
                <div class="form-group">
                    <label asp-for="Trabajador.Nombre" class="control-label"></label>
                    <input asp-for="Trabajador.Nombre" class="form-control" />
                    <span asp-validation-for="Trabajador.Nombre" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Trabajador.DNI" class="control-label"></label>
                    <input asp-for="Trabajador.DNI" class="form-control" />
                    <span asp-validation-for="Trabajador.DNI" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Trabajador.Telefono" class="control-label"></label>
                    <input asp-for="Trabajador.Telefono" class="form-control" />
                    <span asp-validation-for="Trabajador.Telefono" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Trabajador.Direccion" class="control-label"></label>
                    <input asp-for="Trabajador.Direccion" class="form-control" />
                    <span asp-validation-for="Trabajador.Direccion" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Guardar" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-page="Index">Volver a personal</a>
    </div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
}
else
{
    Response.Redirect("/Index");
}
